/* CSS colors*/
body {
  background-color: cyan; /* can be written as #ff0*/
}

h1 {
  background-color: rgba(212, 0, 255, 0.5);
}

h2 {
  background-color: rgb(0, 255, 255);

  opacity: 50%; /*Telling that whole element to be 50% transparent.*/

  /*opacity: 0.6;*/ /*can use alpha value from 0 to 1. 0 is transparent and 1 is opac.*/
}

div {
  color: red;
  border: 1px solid blue;
}

/*Telling all paragraphs to inherit border from its parent element.*/
p {
  border: inherit;
}

/* p {
  color: red;
}

a {
  color: cyan;
  background-color: magenta;
}

h2 {
  color: red;
  background-color: olivedrab;
}

h1 {
  color: teal;
  background-color: yellow;
} */

ul {
  background-color: red;
}
