h1 {
  /* Negative margin */
  margin: -20px;
}

#container {
  border: 1px solid purple;
  background-color: lavenderblush;
  height: 400px;
  width: 600px;
}

#container h3 {
  text-align: center;
  border: 1px solid black;
  width: 150px;

  /* auto margin. Here horizontal margin in set to 'auto' so the element itselft will be centered in it's container. */
  margin: 100px auto;
}
