h1 {
  /* text-align: center; */
  border: 2px solid olivedrab;

  /* width and height of content-box[the blue box] */
  width: 500px;
  height: 60px;
}

#container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.box {
  border: 1px solid orange;

  /* Providing width and height in percentage to mention it to be whatever value given[ex: 50%] of its containing element. The container.  */
  height: 50%;
  width: 50%;
}
