h1 {
  font-family: "Segoe UI", Futura, sans-serif;

  font-size: 60px;
  font-weight: normal; /*Changing default behavior of <h1> which is bold.*/
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  /* can use numerical value from 100 to 900 for supported fonts. check section-8 notes. */
  font-weight: bold;
}

a {
  font-style: italic;
}
